
<div class="grid-container backgroun-color mt-0" >
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="4" rowHeight="170px">
    <!--mini cards-->
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
          <mat-card-title >         
            <div><h3>Total AMC</h3></div>
          </mat-card-title>
        <mat-card-content class="dashboard-card-content">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <!--Charts--> 
  </mat-grid-list>
</div>