.full-width{
    margin: 20px;
    width: 95%;
}

.top-padding{
    padding-top: 3px;
}


.form-container{
    margin: 80px;
    
}

.short{
    margin: 20px;
    width: 60px;
}

.save{
    margin: 20px;
}